{% extends theme("base.html") %} 
{% set meta = { 'title': 'Contact', 'description': "Page Contacts", 'keywords': [ 'contact']} %} 
{% block content %}

<section class="content">
    <!-- <div class="container block-wrapper grey"> -->
    <div class="fr-container fr-py-7w">
        <div class="row">
            <div class="maniFluid" id="formServicesWrapper">
                <div class="headerForm">
                    <h2>{{_('Contact')}}</h2>
                    <p>{{ _("Use this form to get in touch with us in case of doubts or need of assistance. You can also contact us to request for additional datasets or info that you’d like to see available on this portal. To interact with data suppliers, i.e. ask for more data or specific improvements, use the \"Contact\" option on each dataset page, to start a new discussion thread.") }}</p>
                </div>

                <div class="fr-grid-row">
                    <div class="text-align-center form-container fr-col-12 fr-col-md-6 fr-col-offset-md-3">
                        <form class="form" method="post" action="{{ url_for('gouvfr_faq.contact') }}" data-bitwarden-watching="1">
                            <h1 class="fr-h4 fr-mb-0">Contate-nos</h1>
                                <p class="fr-mt-2w fr-mb-1w fr-text--xs text-align-left">
                                    {{ _("Fields preceded by a star (<span class='required-field-star'>*</span>) are required.") }}
                                </p>
                                <div class="fr-input-group field ">
                                    <label for="name" class="fr-label required">
                                        {{ _("Name") }}
                                    </label>                                    
                                    <input id="name" name="name" type="text" required="">
                                </div>
                                <div class="fr-input-group field ">
                                    <label for="email" class="fr-label required">
                                        {{ _("Email") }}
                                    </label>                                    
                                    <input id="email" name="email" type="email" required="">
                                </div>
                                <div class="fr-input-group field ">
                                    <label for="name" class="fr-label required">
                                        {{ _("Subject") }}
                                    </label>                                    
                                    <input id="subject" name="subject" type="text" required="">
                                </div>
                                <div class="fr-input-group field ">
                                    <label for="name" class="fr-label required">
                                        {{ _("Message") }}
                                    </label>         
                                    <textarea id="message" name="message" style="border: 2px solid #eee" rows="4" cols="50"></textarea>                           
                                </div>
                                {{ form.csrf_token }}
                                <center>
                                    {% for error in form.recaptcha.errors %}
                                        <p style="color:red">
                                            {{ _(error) }}
                                        </p>
                                    {% endfor %} 
                                    {{ form.recaptcha }}
                                </center>
                                <br>
                                <button id="submit" type="submit" class="fr-btn" disabled>{{ _("Submit") }}</button>
                                <input id="csrf_token" name="csrf_token" type="hidden" value="IjdlZTk0YzgwMmVhYzhlMTM1ODZiYjBhNGVmOTA3NGQ4YTgwZGI2YzMi.ZyIPPw.bvEEYiW6Qw958m4iPXohjZWYysg">
                        </form>
                    </div>
                </div>
                <br>
                <div class="fr-connect-group" style="text-align: center;">
                    <p class="info">
                        Se pretender pedir acesso a documentos administrativos e/ou abertura de dados, poderá
                        recorrer à Comissão de Acesso a Documentos Administrativos (CADA).
                        <a id="sbmtLoginCC" href="https://www.cada.pt/">
                            <img src="{{ theme_static('img/cada-logo.png') }}"
                                style="display: inline-block; margin: 0 auto;" alt="Logótipo da CADA" />
                        </a>
                    </p>
                    <p class="info">
                        Para saber mais sobre a CADA e sobre a Lei de Acesso a Documentos Administrativos (LADA)
                        <a href="https://www.cada.pt/" target="_blank" rel="noopener noreferrer">clique aqui</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function enableBtn(){
        document.getElementById("submit").disabled = false;
    }
    
</script>
{% endblock %}